.changelog {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
.changelog .changelog_block h3{
  padding-bottom: 50px;
}
.changelog h3, .changelog_block_text {
  text-align: center;
}
.changelog h3 {
  font-size: 25pt;
}
.changelog .changelog_block .changelog_block_text {
  display: none;
}
.changelog .changelog_block:hover .changelog_block_text {
  display: block;
}
.changelog .changelog_block:hover h3 {
  padding-bottom: 0;
  margin-bottom: 50px;
}
.changelog .changelog_block:hover {
  border: solid 1px white;
  margin-left: 20%;
  margin-right: 20%;
}
.changelog_block_btn {
  padding: 0.8%;
  border: solid 1px darkgreen;
  background-image: radial-gradient(black, darkgreen);
  color: white;
  box-shadow: 0 8px 16px 0 darkgrey;
}
.changelog_block_btn:hover {
  border-color: white;
  box-shadow: 0 8px 16px 0 green;
}

.changelog .changelog_block .changelog_block_text dl dt {
  margin-top: 30px;
  color: white;
}
