
p, pre{
    color:white;
}
.loginregister{
  margin: 0 auto;
  width: 250px;
  height: auto;
  text-align: center;
  padding: 30px 30px;
  background-color: white;
  border-radius:  10px;
  box-shadow: 0 0 10px 0 #000;
}
.signuperror{
  font-family: monospace;
  font-size: 12pt;
  font-weight: 100;
  color:red;
  margin-top:16px;
}
.signupsuccess{
  font-family: monospace;
  font-size: 12pt;
  font-weight: 100;
  margin-top:16px;
  
  color:green;
}
input{
  font-family: monospace;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 12pt;
}
button{
  font-family: monospace;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 12pt;
}

a{
  font-size: 15px;
}

form{
  margin:0;
  padding:0;
  background-color: rgba(255, 255, 255, 0);
  border-radius:  0px;
  box-shadow: 0 0 0px 0 #000;
}
