body, html{
  background-image: url("../images/wallpaper.jpg");
  height: 100%;
  background-attachment: fixed;
  padding: 20px;
}
body {
  padding-top: 45pt;
}
.title {
    text-align: center;
    font-size: 40pt;
}
body h1 {
  font-family: sans-serif;
  color:green;
  text-align: center;
  font-size: 80pt;
}
body h2, h3, h4, h5{
  color: white;
  text-align: left;
  font-family: sans-serif;
}

body section {
  font-family: monospace;
  color: #a0a0a0;
  font-size: 15pt;
  font-weight: 100;
}
.border {
  border-style: solid;
  border-width: 1px;
  width: 70%;
  transition: width 0.5s;
  border-radius: 10px;
  border-collapse: separate;
  padding: 15px;
}
.border:hover{
  width: 75%;
}
strong.command {
  color: green;
  text-decoration: underline;
}
strong.command:hover {
  color: #2c9e15;
}
table, thead {
  border-collapse: collapse;
  width: 80%;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  font-size: 18pt;
}
ul {
  list-style-image: url('../images/csharp.png');
}
#navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#navigation li {
  display: inline;
}
#navigation .active {
  color: white;
  background-color: green;
}
#navigation a {
  color: green;
  padding: 1%;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  float:left;
  font-family: monospace;
}
#navigation a:hover:not(.active) {
  color: green;
  background-color: white;
}
.important {
  text-decoration: underline;
  font-weight: bolder;
  color: red;
}
.important:hover {
  color: darkred;
}

.border + p {
  text-align: right;
}
label {
  background-color: white;
}


form{
  width: 250px;
  height: auto;
  padding: 20px 30px;
  background-color: White;
  border-radius:  10px;
  box-shadow: 0 0 10px 0 #000;
}