<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Learn# - Assign</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/auth.css">
    <script type="text/javascript" src="../js/validate.js"></script>
  </head>
  <body>
    <nav>
      <ul id="navigation">
        <li><a href="../">LearnC#</a></li>
        <li><a href="structure">Basic Structure</a></li>
        <li><a href="variables">Variable types</a></li>
        <li class="dropdown">
          <a class="dropbtn" href="#OI">OI</a>
          <div class="dropdown-content">
            <a href="output">Output</a>
            <a href="input">Input from user</a>
          </div>
        </li>
        <li><a href="selections">Selections</a></li>
        <li><a href="arrays">Arrays</a></li>
        <li><a href="methods">Methods</a></li>
        <li><a href="structs">Structs</a></li>
        <li class="login"><a href="login">Login</a></li>
      </ul>
    </nav>

    <article>
      <div class="interface">
        <p class="interface_title">Assign</p>
        <p class="message"><%= message1%></p>
        <form id="interface_form" action="/views/assign"  method="post">
          <input type="username" name="username" placeholder="Username">
          <br>
          <select name="select">
            <option value="Member">Member</option>
            <option value="Helper">Helper</option>
            <option value="Moderator">Moderator</option>
          </select>
          <br>
          <button onclick="validate_assign()" type="button" name="button">Assign</button>
        </form>
      </div>

      <div id="delete_form">
        <p class="delete_message"><%= message2%></p>
        <input class="user_to_delete" type="username" name="username" placeholder="Username">
        <br>
        <button class="delete_user_btn" type="button" name="button">Delete</button>
      </div>
    </article>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="../js/send-assign.js" ></script>
  </body>
</html>
