<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Learn# - Login</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/auth.css">
  </head>
  <body>
    <nav>
      <ul id="navigation">
        <li><a href="../">LearnC#</a></li>
        <li><a href="structure">Basic Structure</a></li>
        <li><a href="variables">Variable types</a></li>
        <li class="dropdown">
          <a class="dropbtn" href="#OI">OI</a>
          <div class="dropdown-content">
            <a href="output">Output</a>
            <a href="input">Input from user</a>
          </div>
        </li>
        <li><a href="selections">Selections</a></li>
        <li><a href="arrays">Arrays</a></li>
        <li><a href="methods">Methods</a></li>
        <li><a href="structs">Structs</a></li>
        <li class="active login"><a href="login">Login</a></li>
      </ul>
    </nav>

    <article>
      <div class="interface">
        <p class="interface_title">Login</p>
        <p class="message"><%= message%></p>
        <form action="/views/login" method="post">
          <input type="username" name="username" placeholder="Username">
          <br>
          <input type="password" name="password" placeholder="Password">
          <br>
          <button type="submit" name="button">Login</button>
        </form>
        <a href="registration">Register</a>
        <button class="logout" type="button">Logout</button>
      </div>
    </article>
  </body>
</html>
