<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LearnC# - Basic Structure</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <nav>
      <ul id="navigation">
        <li><a href="../">LearnC#</a></li>
        <li class="active"><a href="structure.ejs">Basic Structure</a></li>
        <li><a href="variables.ejs">Variable types</a></li>
        <li class="dropdown">
          <a class="dropbtn" href="#OI">OI</a>
          <div class="dropdown-content">
            <a href="output.ejs">Output</a>
            <a href="input.ejs">Input from user</a>
          </div>
        </li>
        <li><a href="selections.ejs">Selections</a></li>
        <li><a href="arrays.ejs">Arrays</a></li>
        <li><a href="methods.ejs">Methods</a></li>
        <li><a href="structs.ejs">Structs</a></li>
        <li class="login"><a href="login.ejs">Login</a></li>
      </ul>
    </nav>
    <article>
      <h2 class="title">1. Basic structure of a C# program</h2>
      <section>
        <p class="overview">A basic C# program is categorized in namespaces, classes and methods.
          The following example shows the basic skeleton of a C#-program:</p>
<pre class="code">
namespace Introduction
{
    class program
    {
            static void Main()
            {

            }
    }
}</pre>
        <p>In the beginning you write all commands between the brackets of the "<strong class="command">static void Main()</strong>"-method.</p>
      </section>
    </article>
  </body>
</html>
