<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LearnC# - Structs</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <nav>
      <ul id="navigation">
        <li><a href="../">LearnC#</a></li>
        <li><a href="structure.ejs">Basic Structure</a></li>
        <li><a href="variables.ejs">Variable types</a></li>
        <li class="dropdown">
          <a class="dropbtn" href="#OI">OI</a>
          <div class="dropdown-content">
            <a href="output.ejs">Output</a>
            <a href="input.ejs">Input from user</a>
          </div>
        </li>
        <li><a href="selections.ejs">Selections</a></li>
        <li><a href="arrays.ejs">Arrays</a></li>
        <li><a href="methods.ejs">Methods</a></li>
        <li class="active"><a href="structs.ejs">Structs</a></li>
        <li class="login"><a href="login.ejs">Login</a></li>
      </ul>
    </nav>
    <article>
      <h2 class="title">8. Structs</h2>
    </article>
  </body>
</html>
