.interface {
  border: black 1px solid;
  background-color: black;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 60px;
  padding-bottom: 30px;
  box-shadow: 20px -15px green;
}

.interface .interface_title {
  color: white;
  font-size: 40pt;
  text-align: center;
  border-bottom: #BDBDBD 1px solid;
  margin-left: 10%;
  margin-right: 10%;
}

.interface .message {
 color: white;
 background: #0B610B;
 margin-left: 10%;
 margin-right: 10%;
}

#interface_form {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 0;

  display: block;
  text-align: center;

  border-collapse: collapse;
}

#interface_form input {
  width: 220px;
  height: 35px;
  font-size: 15pt;
  margin-bottom: 20px;

  background-color: black;
  color: white;

  border: none;
  border-bottom: solid 1px white;
}
#interface_form button {
  width: 200px;
  height: 30px;

  font-size: 20px;
  background-image: linear-gradient(to right, darkgreen, Lime);
  color: white;

  border: none;
  border-color: green;
  border-radius: 20px;

  -webkit-transition: 1s;
  transition: 1s;
}
#interface_form button:hover {
  background-image: linear-gradient(to left, darkgreen, Lime);
  color: white;
}

.interface a {
  padding-left: 10%;
  color: green;
  text-decoration: none;
}
.interface a:hover {
  color: white;
}

.interface .logout {
  float: right;
  border: none;
  background-color: black;
  color: green;
  padding-right: 10%;
}

.interface .logout:hover {
  color: white;
}
